* {
    font-family: Arial, Helvetica, sans-serif;
}

@font-face {
    font-family: "segments";
    src: url("segment_font.ttf");
}

body {
    font-size: 16px;
    width: 80%;
    margin: auto;
}

h1 {
    margin: auto;
    text-align: center;
    padding: 1rem 0;
}

span {
    text-decoration: underline;
}

.button {
    display: inline-block;
    text-decoration: none;
    padding: 1rem 1rem;
    border-radius: 10px;
    font-weight: bold;
    color: white;
    text-align: center;
    background-color: black;
    margin-bottom: .5rem;
}

.buttons {
    margin: auto;
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
    text-transform: uppercase;
}

.red {
    background: red;
    color: white;
}

.segment_red {
    background: black;
    color: red;
    text-align: center;
    font-size: 5rem;
    font-family: "segments";
    font-weight: normal;
}

.segment_yellow {
    background: black;
    color: yellow;
    text-align: center;
    font-size: 5rem;
    font-weight: normal;
}

.segment_green {
    background: black;
    color: rgb(0, 202, 0);
    text-align: center;
    font-size: 5rem;
    font-weight: normal;
}

.red-dark {
    background: #610B0B;
    color: white;
}

.yellow {
    background-color: yellow;
    color: black;
}

.yellow-dark {
    background-color: #5E610B;
    color: white;
}

.green {
    background-color: #3ADF00;
    color: black;
}

.green-dark {
    background-color: #21610B;
    color: white;
}